<div id="<%= dom_id workout %>">

<article id="article">

<table role="grid">
  <thead>
    <tr>
      <th scope="col"><strong><%= workout.date %></strong></th>
      <th scope="col"><strong>Exercise</strong></th>
      <th scope="col"><strong>Weight</strong></th>
      <th scope="col"><strong>Sets</strong></th>
      <th scope="col"><strong>Repetitions</strong></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><%= workout.exercise1 %></td>
      <td><%= workout.exercise1_weight %></td>
      <td><%= workout.exercise1_sets %></td>
      <td><%= workout.exercise1_reps %></td>


    </tr>
    <tr>
      <th scope="row">2</th>
      <td><%= workout.exercise2 %></td>
      <td><%= workout.exercise2_weight %></td>
      <td><%= workout.exercise2_sets %></td>
      <td><%= workout.exercise2_reps %></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td><%= workout.exercise3 %></td>
      <td><%= workout.exercise3_weight %></td>
      <td><%= workout.exercise3_sets %></td>
      <td><%= workout.exercise3_reps %></td>
    </tr>
        <tr>
      <th scope="row">4</th>
      <td><%= workout.exercise4 %></td>
      <td><%= workout.exercise4_weight %></td>
      <td><%= workout.exercise4_sets %></td>
      <td><%= workout.exercise4_reps %></td>
    </tr>
        <tr>
      <th scope="row">5</th>
      <td><%= workout.exercise5 %></td>
      <td><%= workout.exercise5_weight %></td>
      <td><%= workout.exercise5_sets %></td>
      <td><%= workout.exercise5_reps %></td>
    </tr>
        <tr>
      <th scope="row">6</th>
      <td><%= workout.exercise6 %></td>
      <td><%= workout.exercise6_weight %></td>
      <td><%= workout.exercise6_sets %></td>
      <td><%= workout.exercise6_reps %></td>
    </tr>
  </tbody>

    </tr>
  </tfoot>
</table>

</article>

</div>
