<div id="<%= dom_id workout %>">
  <article id="article">
  
    <table role="grid">
      <hgroup>
        <h3><strong><%= workout.name %></strong></h3>
        <h2><strong><%= workout.date %></strong></h2>
    </hgroup>
      <thead>
        <tr>
          <th scope="col"><strong>Exercise</strong></th>
          <th scope="col"><strong>Weight</strong></th>
          <th scope="col"><strong>Sets</strong></th>
          <th scope="col"><strong>Repetitions</strong></th>
        </tr>
      </thead>
      <tbody>
        <% (1..6).each do |exercise_number| %>
          <% exercise_field = "exercise#{exercise_number}" %>
          <% weight_field = "#{exercise_field}_weight" %>
          <% sets_field = "#{exercise_field}_sets" %>
          <% reps_field = "#{exercise_field}_reps" %>
          <% if workout.send(exercise_field) != "-" %>
            <tr>
              <td><%= workout.send(exercise_field) %></td>
              <td><%= workout.send(weight_field) %></td>
              <td><%= workout.send(sets_field) %></td>
              <td><%= workout.send(reps_field) %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  <footer>
    <table role="grid">
      <thead>
        <tr>
          <th scope="col"><strong>Cardio</strong></th>
          <th scope="col"><strong>Sets/Laps</strong></th>
          <th scope="col"><strong>Duration</strong></th>
        </tr>
      </thead>
      <tbody>
        <% if workout.cardio != "-" %>
        <tr>
          <td><%= workout.cardio %></td>
          <td><%= workout.cardio_sets %></td>
          <td><%= "#{workout.round_time.to_s} minutes" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    </footer>
  </article>
</div>
