<nav>
  <ul>
  <li>
<%= link_to root_path do %>
  <%= image_tag 'icon.png', alt: 'Fitness Icon' %>
<% end %>  
</li>
</ul>
  <ul>
      <li><%= link_to "Workouts", workouts_path %></li>
      <li><%= link_to "My Progress", pages_calendar_path  %></li>
      <li><%= link_to "Exercise Library", exercises_path %></li>
      <li><a href="<%= new_user_session_path %>" role="button">Log In</a></li>
      <li><a href="<%= new_user_registration_path  %>" role="button">Sign Up</a></li>

  </ul>
</nav>