<p style="color: green"><%= notice %></p>
<h1>My Progress</h1>

<% last_two_workouts = @workouts.last(2) %>

<% if last_two_workouts.size == 2 %>
  <h3>Last Two Workouts Comparison:</h3>
<article>
  <table role="grid">
    <thead>
      <tr>
        <th><strong>Exercise</strong></th>
        <th><strong>Weight</strong></th>
        <th><strong>Sets</strong></th>
        <th><strong>Repetitions</strong></th>
      </tr>
    </thead>
    <tbody>
      <% (1..6).each do |exercise_number| %>
        <% exercise_name = Exercise::ALL_EXERCISES[exercise_number] %>
        <% exercise_data_1 = last_two_workouts[0]["exercise#{exercise_number}_weight"] %>
        <% exercise_data_2 = last_two_workouts[1]["exercise#{exercise_number}_weight"] %>
        <% exercise_sets_1 = last_two_workouts[0]["exercise#{exercise_number}_sets"] %>
        <% exercise_sets_2 = last_two_workouts[1]["exercise#{exercise_number}_sets"] %>
        <% exercise_reps_1 = last_two_workouts[0]["exercise#{exercise_number}_reps"] %>
        <% exercise_reps_2 = last_two_workouts[1]["exercise#{exercise_number}_reps"] %>

        <% if exercise_data_1.present? && exercise_data_2.present? &&
             exercise_sets_1.to_i > 0 && exercise_sets_2.to_i > 0 &&
             exercise_reps_1.to_i > 0 && exercise_reps_2.to_i > 0 %>
          
          <tr>
            <td><%= exercise_name %></td>
            <td><%= compare_attributes("Weight", exercise_data_1, exercise_data_2) %></td>
            <td><%= compare_attributes("Sets", exercise_sets_1, exercise_sets_2) %></td>
            <td><%= compare_attributes("Repetitions", exercise_reps_1, exercise_reps_2) %></td>
          </tr>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</article>
<% else %>
  <p>There are not enough workouts to compare.</p>
<% end %>
