<div id="<%= dom_id exercise %>">
<article>

  <div class="grid">
  <article> 
  <div>
    <%= exercise.name %>
    <%= exercise.category%>
  </div>
  </article>

  <article> 
  <div>
    <%= exercise.name %>
    <%= exercise.category%>
  </div>
  </article>

  <article> 
  <div>
    <%= exercise.name %>
    <%= exercise.category%>
  </div>
  </article>

  <article> 
  <div>
    <%= exercise.name %>
    <%= exercise.category%>
  </div>
  </article>

</article>




